@keyframes drop-from-top {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes move-from-right {
    0% {
        transform: translate(100%);
    }
    70% {
        transform: translate(-10%);
    }
    100% {
        transform: translate(0%);
    }
}