.content__card {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.content__card > * {
    position: absolute;
}

.content__card .card__info {
    padding: 0.5em;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 500;
    width: 100%;
    max-height: 100%;
    z-index: 1;
    overflow-y: auto;
}

.content__card .card__text-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    transition: transform 0.4s;
    z-index: 2;
    backface-visibility: hidden;
    color: var(--color-text-light);
}

.content__card:hover .card__text-wrapper {
    transform: translate(100%);
}

.card__logo .card__text-wrapper {
    background-color: #FFF;
    display: flex;
    align-content: center;
    justify-content: center;
}

.card__logo .card__text-wrapper > img {
    margin: auto;
    width: 40%;
    height: 40%;
}

.card__logo .card__info,
.card__contacts .card__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__contacts .contact {
    font-size: 3vw;
}

.contacts {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact {
    align-self: center;
    color: var(--color-text-dark);
}

.fab.fa-telegram:hover {
    color: #2da1d6;
}

.fab.fa-facebook:hover {
    color: #29429e;
}

.fab.fa-twitter:hover {
    color: #2aabff;
}

.card__logo .card__info > *,
.card__contacts .card__info > * {
    margin: auto;
}

.card__info > * {
    margin: 0.8em 0;
}

.card__info > *:first-child {
    margin-top: 0;
}

.card__info > *:last-child {
    margin-bottom: 0;
}

.card__qa .card__text-wrapper {
    background-color: #51bf76;
    font-size: 5rem;
}

.card__qa:hover .card__text-wrapper {
    transform: rotateY(-180deg);
}

.card__js .card__text-wrapper {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    background-color: #f6cf68;
    color: var(--color-text-dark);
    font-weight: 900;
    font-size: 5.4rem;
    line-height: 5.4rem;
}

.card__js:hover .card__text-wrapper,
.card__logo:hover .card__text-wrapper {
    transform: rotateY(180deg);
}

.card__js .card__text {
    margin: 0 0.1em 0.1em 0;
}

.card__java .card__text-wrapper {
    background-color: #e02b4c;
    font-size: 2.5rem;
}

.card__java:hover .card__text-wrapper {
    transform: translate3d(0, 100%, 0);
}

.card__php .card__text-wrapper {
    background-color: #8893bf;
    color: var(--color-text-dark);
    font-style: italic;
    font-size: 4.5rem;
}

.card__php:hover .card__text-wrapper {
    transform: translate3d(100%, -100%, 0);
}

.card__dotnet .card__text-wrapper {
    background-color: #642077;
    font-size: 4.5rem;
}

.card__dotnet:hover .card__text-wrapper {
    transform: translate3d(100%, 100%, 0);
}

.card__events .card__text-wrapper {
    background-color: #2d99fe;
    font-size: 1rem;
}

.card__blog .card__text-wrapper {
    background-color: #0442a3;
    font-size: 1rem;
}

.card__contacts .card__text-wrapper {
    background-color: #00265f;
    font-size: 1rem;
}

.content__card img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .card__contacts .contact {
        font-size: 5vw;
    }
}