.content {
    margin: 0 var(--side-padding);
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: repeat(2, 21vw) 26.25vw 11.75vw;
    grid-template-rows: repeat(8, 5.25vw);
}

.content > *:nth-child(1) {
    grid-row: 1 / 5;
}

.content > *:nth-child(2) {
    grid-row: 5 / -1;
}

.content > *:nth-child(3) {
    grid-column: 2;
    grid-row: 1 / 7;
}

.content > *:nth-child(4) {
    grid-column: 2;
    grid-row: 7 / -1;
}

.content > *:nth-child(5) {
    grid-column: 3 / -1;
    grid-row: 1 / 4;
}

.content > *:nth-child(6) {
    grid-column: 3;
    grid-row: 4 / -1;
}

.content > *:nth-child(7) {
    grid-column: 4;
    grid-row: 4 / 6;
}

.content > *:nth-child(8) {
    grid-column: 4;
    grid-row: 6 / 8;
}


.content > *:nth-child(9) {
    grid-column: 4;
    grid-row: 8;
}

@media screen and (max-width: 768px) {
    .content {
        grid-template-columns: repeat(18, 5vw);
        grid-template-rows: repeat(5, 8vw) repeat(2, 20vw);
    }

    .content > *:nth-child(1) {
        grid-row: 1 / 6;
        grid-column: 1 / 9;
    }

    .content > *:nth-child(2) {
        grid-row: 7;
        grid-column: 1 / 10;
    }
    
    .content > *:nth-child(3) {
        grid-row: 1 / 6;
        grid-column: 9 / 15;
    }
    
    .content > *:nth-child(4) {
        grid-column: 1 / 10;
        grid-row: 6;
    }
    
    .content > *:nth-child(5) {
        grid-column: 10 / -1;
        grid-row: 6;
    }
    
    .content > *:nth-child(6) {
        grid-column: 10 / -1;
        grid-row: 7;
    }
    
    .content > *:nth-child(7) {
        grid-column: 15 / -1;
        grid-row: 1 / 3;
    }
    
    .content > *:nth-child(8) {
        grid-column: 15 / -1;
        grid-row: 3 / 5;
    }
    
    
    .content > *:nth-child(9) {
        grid-column: 15 / -1;
        grid-row: 5;
    }
}