.btn {
    cursor: pointer;
    padding: 0.5em 1.5em;
    border: 1px solid white;
    border-radius: 0.2em;
    background-color: lightgray;
}

.btn-primary {
    color: white;
    background-color: #46c3f3;
}

.btn-primary:hover {
    color: white;
    background-color: #00adf1;
}