.header {
    animation: 0.5s drop-from-top;
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    min-width: 80vw;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em var(--side-padding);
    background-color: var(--color-bg-secondary);
}

.header__logo {
    height: 2.5em;
}

.controls__notifications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1em;
}

path {
    fill: red;
}

.notifications__icon {
    height: 1em;
    width: 1em;
    cursor: pointer;
    color: var(--color-text-light-muted);
    transition: color 0.2s;
}

.notifications__icon:hover {
    color: var(--color-text-dark-tint);
}

.controls__profile-menu {
    height: 2.5em;
    width: 2.5em;
}

.profile-menu__ava {
    width: 100%;
    height: 100%;
    font-size: 0;
    border-radius: 100%;
    text-align: center;
    color: var(--color-text-light);
    background-color: var(--color-profile-ava);
}

.profile-menu__ava::first-letter {
    line-height: 2.5rem;
    font-size: 1.5rem;
}

.profile-menu__dropdown-trigger {
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.header__controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-menu__dropdown-list {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 0 0.5em 1em #0002;
    padding: 0.5em 1em;
    top: 100%;
    right: 0;
}

.controls__profile-menu {
    position: relative;
}

.controls__profile-menu .profile-menu__dropdown-trigger:checked ~ .profile-menu__dropdown-list {
    display: flex;
}

.dropdown-list__name {
    font-size: 0.9em;
    color: var(--color-text-light-muted);
    text-align: center;
    margin: 0.5em 1em;
    white-space: nowrap;
}

.dropdown-list__name::after {
    content: "";
    margin-top: 0.2em;
    display: block;
    height: 0.15em;
    width: 100%;
    background-color: var(--color-text-light-muted);
}

.dropdown-list__nav-button {
    color: var(--color-text-dark);
    text-decoration: none;
    font-size: 1em;
    padding: 0.4em 0.1em;
}

.dropdown-list__nav-button:hover {
    background-color: var(--color-bg-muted);
}

.profile-menu__dropdown-trigger {
    position: absolute;
    top: 0;
    right: 0;
}