@import "animations.css";
@import "variables.css";
@import "header.css";
@import "footer.css";
@import "content.css";
@import "controls.css";
@import "cards.css";
@import "messages.css";

* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, input, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background-color: var(--color-bg-primary);
    font-family: Sailec, sans-serif;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}