.messages {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.5em;
    min-width: 13em;
    max-width: 15%;
    z-index: 4;
}

.message {
    animation: 0.4s move-from-right;
    display: flex;
    color: var(--color-text-light);
    background-color: lightgray;
    opacity: 0.9;
    border-radius: 0.7em;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.message:last-child {
    margin-bottom: 0;
}

.message .message__icon {
    margin: 0.5em;
    height: 1.5em;
    width: 1.5em;
}

.message_type_success {
    background-color: var(--color-success);
}

.message_type_warning {
    background-color: var(--color-warning);
}

.message_type_error {
    background-color: var(--color-danger);
}