:root {
    --side-padding: 10vw;

    --color-bg-primary: #F7F7F7;
    --color-bg-secondary: #FFF;
    --color-bg-muted: #E7E7E7;
    --color-profile-ava: #26aa5e;
    --color-success: #78B677;
    --color-danger: #CC6159;
    --color-warning: #FAA145;
    
    --color-text-dark: #000;
    --color-text-dark-tint: #1C1C217F;
    --color-text-light: #FFF;
    --color-text-light-muted: #a1abb7;
}

@media screen and (max-width: 768px) {
  :root {
    --side-padding: 5vw;
  }
}